/**
  Body Globals
  ---------------------------------------------------------------------- */
html,
body {
  max-width: 100%;
  font-size: $font-size;
}

body {
  background-color: $black;
  color: $white;
  line-height: 1;
  font-family: $font-default;
  font-weight: $font-normal;
  font-smoothing: antialiased;
}

/**
  Global Link Defaults
  ---------------------------------------------------------------------- */
a {
  text-decoration: none;
  border-bottom: 1px dashed transparentize($white, 0.666);
  border-collapse: collapse;
  @include transition();

  &:hover {
    border-color: $white;
  }
}

@include linkColor($white);

/**
  Wordpress Image Alignment Spacing
  ---------------------------------------------------------------------- */
.aligncenter {
  margin: 1em auto;
}

.alignleft {
  margin: 1em 1em 1em 0;
}

.alignright {
  margin: 1em 0 1em 1em;
}
