.module-contact-head {
  h1 {
    text-align: center;

    @include responsive(tablet) {
      font-size: 2.5em;
    }
  }
}

.contact-buttons {
  @include grid(center, flex-start, row, wrap);

  h2 {
    text-align: center;
    font-size: 2em;
    width: 100%;

    span {
      color: $white;
    }
  }

  nav {
    ul {
      @include listStripped();

      li {
        line-height: 1;
        margin: 1em 0.5em;
      }
    }

    span {
      display: block;

      &.name {
        font-size: 0.85em;
        font-weight: $font-light;
        margin-bottom: 0.5em;
      }

      &.data {
        font-size: 1.15em;
        color: $white;
      }
    }
  }

  a {
    display: block;
    border: 1px solid $white;
    padding: 1em 1.25em;
    border-radius: 0.25rem;
    transform: scale(0.9);

    &:hover {
      transform: scale(1);
    }
  }
}

.module-contact-promo {
  margin: 2em 0 4em 0;

  h2 {
    border-bottom: 1px solid $white;
    text-align: center;
    padding-bottom: 0.5em;

    span {
      color: $white;
    }
  }

  nav {
    @include grid(center, center, row, wrap);

    a {
      @include grid(center, center);
      margin: 1em;
      border: none;

      @include responsive(tablet-wide) {
        @include grid(flex-start, center);
        width: 100%;
        margin: 0.5em 0;
      }

      &:hover {
        .promo-image,
        .promo-application {
          transform: scale(1.1);
        }

        em {
          opacity: 1;
        }
      }
    }

    p {
      padding: 0 0 0 0.5em;
      line-height: 1;
    }

    strong,
    em {
      display: block;
    }

    em {
      font-size: 0.85em;
      opacity: 0.5;
      @include transition()
    }
  }
}

.promo {
  &-image,
  &-application {
    @include grid(center, center);
    width: 6em;
    height: 6em;
    background-color: $white;
    padding: 1em;
    border-radius: 0.25rem;
    @include transition();
    transform-origin: right;
  }

  &-image img {
    display: block;
    max-height: 5em;
    max-width: 5em;
    width: auto;
    height: auto;
  }

  &-application {
    @include icon('pdf');
    background-size: auto 4em;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.module-contact-press {
  h2 {
    @include grid(center, center);
    border-bottom: 1px solid $white;
    padding-bottom: 0.5em;

    strong {
      color: $white;
    }

    span {
      display: block;
      font-size: 0.5em;
      padding-left: 0.5em;
      line-height: 1;

      i {
        display: block;
        font-size: 0.75em;
        @include fontItalic(false);
        font-weight: $font-light;
        opacity: 0.666;
      }
    }

    @include responsive(tablet-wide) {
      @include grid(center, center, column);
      text-align: center;

      span {
        margin-top: 0.25em;
        padding-left: 0;
      }
    }

    @include responsive(phablet) {
      font-size: 2.5em;

      span {
        font-size: 0.75em;
      }
    }
  }
}

.contact-press-data{
  @include grid(flex-start, stretch);

  @include responsive(tablet) {
    @include grid(center, center, column);
  }

  hr {
    width: 0;
    border-width: 1px;

    @include responsive(tablet) {
      width: 100%;
      height: 0;
    }
  }

  nav {
    padding: 1em;
    width: 50%;
    font-size: 1.25em;

    @include responsive(tablet) {
      width: 100%;
    }

    a {
      display: block;
      padding: 0.5em 0;
      transform: scale(0.9);
      transform-origin: left;

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        transform: scale(1);
      }
    }

    strong,
    em{
      display: block;
    }

    em {
      font-size: 0.85em;
      font-weight: $font-light;
    }
  }
}

#contact-quotes {
  padding: 1em;
  width: 50%;

  @include responsive(tablet) {
    width: 100%;
  }
}

.module-contact-photos {
  margin-top: 3rem;

  @include responsive(tablet) {
    margin-top: 2rem;
  }

  h2 {
    text-align: center;
    border-bottom: 1px solid $white;
    padding: 0.5em;

    span {
      color: $white;
    }
  }

  ul {
    @include listStripped();
    @include grid(center, center, row, wrap);

    li {
      width: 20%;

      @include responsive(phablet) {
        width: 33.333%;
      }
    }
  }

  a, img {
    display: block;
    border: none;
    width: 100%;
  }

  img {
    transform: scale(0.9);
    @include transition();

    &:hover {
      transform: scale(1);
    }
  }
}

#photos-list-more {
  margin: 2rem;
  font-weight: $font-light;
  border: 1px solid $white;
  padding: 1em 1.75em;
  height: auto;
  box-shadow: 0 0 1rem $white;
  transform: scale(0.9);

  &:hover {
    transform: scale(1);
  }

  &.is-done {
    display: none;
  }
}

.fancybox-container {
  backdrop-filter: blur(0.5em);
  background-color: transparentize($black, 0.5);
}

.fancybox-image {
  box-shadow: 0 0 1em $black;
}

.fancybox-navigation {
  button {
    color: #000;

    &:hover { color: #000; }

    &::before {
      background: #fff !important;
      border-radius: 0.25rem;
    }
  }
}

.fancybox-toolbar {
  .fancybox-button {
    background: $white;
    color: $black;
    border-radius: 0.25rem;
    transform: scale(0.9);
    @include transition();

    &:hover {
      color: $black;
      transform: scale(1);
    }
  }
}
