.perf-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  @include filter-blur(1rem);
}

.perf-breadcrumb {
  padding: 0.5em 0;
  margin: 1em 0;
  text-align: center;

  h3 {
    font-size: 1.15em;
    margin: 0.25em 0;
    opacity: 0.5;
  }

  a {
    @include fontItalic();
    font-weight: $font-light;
    opacity: 0.5;
    @include transition();

    &:hover {
      opacity: 1;
    }
  }

  &.bottom {
    border-top: 1px solid $grey-dark;
    padding-top: 1.5em;
    margin-top: 1.5em;
  }

  @include responsive(tablet) {
    &.top {
      display: none;
    }
  }
}

.module-perf-header {
  @include grid(center, center, row, wrap);
  text-align: center;
  border-top: 1px solid $grey-dark;
  padding-top: 1rem;
  font-size: 1.25em;

  @include responsive(tablet) {
    border-top: none;
    padding-top: 0;
  }

  @include responsive(phablet) {
    font-size: 0.85em;
  }

  h1 {
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  p {
    text-align: left;
    line-height: 1;
    padding-left: 0.5em;
    margin: 0;
    padding: 0 0 0 0.5em;
    font-weight: $font-light;

    opacity: 0.75;

    strong {
      display: block;
      opacity: 0.5;
    }
  }

  time,
  address {
    width: 100%;
    font-size: 0.7em;
    line-height: 1.25;
    opacity: 0.5;
    font-weight: $font-light;

    @include responsive(phablet) {
      font-size: 0.8em;
    }
  }

  time {
    margin-top: 1em;

    strong {
      opacity: 0.5;
    }
  }
}

.module-perf-data {
  margin-top: 1em;
  @include grid(center, center, row, wrap);

  @include responsive(phablet) {
    font-size: 0.85em;
  }

  a, p {
    @include grid(flex-start, center);
    padding: 1em;
    margin: 0;
    border: 0 !important;
    @include transition();
    @include pseudo('before') {
      width: 2em;
      height: 2em;
      border-radius: 100%;
      margin-right: 0.5em;
      background-size: auto 66.6%;
      background-position: center center;
      background-color: $white;
      background-repeat: no-repeat;
    }

    @include responsive(phablet) {
      padding: 0.5em;
    }

    strong {
      display: none;
    }

    &.private {
      font-weight: $font-light;
      display: block;
      text-align: center;

      &::before {
        display: none;
      }

      &:hover {
        transform: scale(1);
      }

      strong {
        display: inline;
      }
    }

    &.ages::before { @include icon('group'); }
    &.cost::before { @include icon('money'); }
    &.tickets::before { @include icon('tickets'); }

    &:hover {
      transform: scale(1.15);
    }
  }
}

.page-content.perf {
  padding-bottom: 6rem;

  @include responsive(tablet) {
    margin-top: 80vh;
  }

  .label {
    width: 100%;
    padding: 0;
    line-height: 1.5;
    font-size: 0.8em;
    font-weight: $font-light;
    @include fontItalic();
    opacity: 0.5;
    text-align: center;
  }
}

.module-perf-desc {
  display: block;
  text-align: center;
  margin-top: 1rem;

  .acts {
    @include navMenu('horizontal');
    width: 100%;
    font-size: 1.15em;

    @include responsive(phablet) {
      font-size: 1em;
    }

    ul li {
      margin: 0.5em;
    }

    a, span {
      display: block;
      padding: 0.5em 1em;
      border: 1px solid $grey-dark !important;
      border-radius: 1rem;
    }

    a:hover {
      transform: scale(1.15);
    }
  }

  .desc {
    display: inline-block;
    padding: 1rem;
    font-weight: $font-light;
  }

  .links {
    ul {
      @include listStripped();
      @include grid(center, center, row, wrap);

      li {
        margin: 1em;
      }
    }

    a {
      display: block;
      background-color: $white;
      color: $black;
      padding: 0.5em 1em;
      border-radius: 0.5rem;

      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

.module-perf-media {
  display: block;
  margin-top: 2rem;

  ul {
    @include listStripped();
    @include grid(center, center, row, wrap);

    li {
      margin: 0.5em;
      @include transition();

      @include responsive(phablet) {
        margin: 0.25em 0.5em;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .video {
    width: calc(50% - 1em);

    @include responsive(phablet) {
      width: 100%;
    }
  }

  .photo {
    width: calc(25% - 1em);

    img {
      border-radius: 1em;
    }

    @include responsive(phablet) {
      width: calc(50% - 1em);
    }
  }

  a {
    border: none;
  }
}

.page-sidebar.perf {
  @include grid(center, center);
  padding: 6rem 0;

  @include pseudo(after, block, absolute) {
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include gradient(linear, to right, '#{$black} 0%, #{transparentize($black, 1)} 100%');
    box-shadow: inset 0 0 5rem $black;

    @include responsive(tablet) {
      display: none;
    }
  }

  img {
    display: block;
    position: relative;
    z-index: 2;
    max-width: 80%;
    max-height: 100%;
    width: auto;
    height: auto;
    box-shadow: 0.5rem 0.5rem 1rem $black;
    @include responsive(phablet) {
      max-width: 100%;
    }
  }

  @include responsive(tablet) {
    padding: 6rem 0;
    height: 80vh;

    img {
      margin: 0 auto;
      max-width: 100%;
    }
  }

  @include responsive(phablet) {
    padding: 5rem 2rem 2rem 2rem;
  }
}
