/**
  Global Website Header
  ---------------------------------------------------------------------- */
#brand {
  position: fixed;
  z-index: 999;
  width: 25vw;
  left: 50%;
  top: 3vw;
  transform: translateX(-50%);

  a, img {
    display: block;
  }
}

#header {
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $white;
}
