/**
  Global Website Header
  ---------------------------------------------------------------------- */
#brand {
  position: fixed;
  z-index: 999;
  width: 25vw;
  left: 50%;
  top: 3vw;
  transform: translateX(-50%);

  a, img {
    display: block;
    border: none;
  }

  img {
    display: block;
    max-height: 4rem;
    width: auto;
    margin: 0 auto;
  }
}

#header {
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $white;
  @include linkColor($black);
}
