.nav-responsive {
  display: none;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  color: $black;
  box-shadow: 0 0 1rem $white;
  @include linkColor($black);

  @include responsive(tablet) {
    display: block;
  }

  ul {
    @include listStripped();
    @include grid(center, center);

    li {
      flex: 1 0 0;
      padding: 0.5em;
      text-align: center;
    }
  }

  img {
    display: block;
    height: 2.5em;
    width: auto;
    margin: 0 auto;

    @include responsive(phablet) {
      height: 1.5em;
    }
  }

  a {
    display: block;
    border: none;
    padding: 0.5em 0;

    @include responsive(phablet) {
      padding: 0;
    }
  }

  p {
    padding: 0;
    line-height: 1;
  }

  span {
    display: none;
  }

  i {
    @include fontItalic(false);

    @include responsive(phablet) {
      font-size: 0.85em;
    }
  }
}
