.nav-responsive {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 4rem;
  background-color: $white;
  color: $black;
  @include linkColor($black);

  img {
    display: block;
    height: 2.5em;
    width: auto;
  }

  ul {
    @include listStripped();
    @include grid(center, center);

    li {
      flex: 1 0 0;
      padding: 0.5em;
      text-align: center;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    span {
      display: none;
    }
  }
}
