#content {
  @include grid(flex-start, center);
  min-height: 100vh;
}

.page-content {
  position: relative;
  width: 50%;

  @include pseudo(after, block, fixed) {
    width: 100%;
    height: 6vw;
    top: 0;
    left: 0;
    @include gradient(linear, to bottom, '#{$black}, transparent');
  }
}

.page-sidebar {
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;
}
