#content {
  @include grid(flex-start, center);
  min-height: 100vh;

  @include responsive(tablet) {
    @include grid(flex-start, center, column-reverse);
    min-height: 1px;
  }
}

.page-content {
  position: relative;
  padding: 6vw 3vw;
  width: 50%;

  @include responsive(tablet) {
    width: 100%;
    padding: 3vw 6vw;
  }

  @include responsive(phablet) {
    padding: 2rem;
  }

  @include pseudo(after, block, fixed) {
    width: 100%;
    height: 6vw;
    top: 0;
    left: 0;
    @include gradient(linear, to bottom, '#{$black}, transparent');
  }
}

.page-sidebar {
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100vh;

  @include responsive(tablet) {
    overflow: visible;
    position: relative;
    width: 100%;
    height: auto;
  }
}
