#content {
  @include grid(flex-start, center);
  min-height: 100vh;

  @include responsive(tablet) {
    @include grid(flex-start, center, column-reverse);
    min-height: 1px;
  }
}

.page-content {
  position: relative;
  padding: 6vw 3vw;
  width: 50%;
  z-index: 200;
  background-color: $black;

  @include responsive(tablet-wide) {
    padding: 6rem 2rem;
  }

  @include responsive(tablet) {
    width: 100%;
    margin-top: 80vw;
    padding: 0 2rem 6rem 2rem;
  }

  @include responsive(phablet) {
    margin-top: 100vw;
  }

  @include pseudo(after, block, fixed) {
    width: 100%;
    height: 6vw;
    top: 0;
    left: 0;
    z-index: 998;
    @include gradient(linear, to bottom, '#{$black}, transparent');
  }

  @include pseudo(before, block, absolute) {
    width: 100%;
    height: 10rem;
    top: -10rem;
    left: 0;
    z-index: 998;
    @include gradient(linear, to bottom, 'transparent, #{$black}');
  }
}

.page-sidebar {
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: 50%;
  height: 100vh;

  @include responsive(tablet) {
    overflow: visible;
    width: 100%;
    height: 80vw;
  }

  @include responsive(phablet) {
    height: 100vw;
  }
}

#member-video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
