.woocommerce-notices-wrapper {
  position: fixed;
  z-index: 1000;
  @include grid(center, center, column);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  font-size: 2em;
  padding: 2em;
  text-align: center;
  backdrop-filter: blur(0.25em);
  background-color: transparentize($black, 0.5);
  text-shadow: 0 0 0.5em $black;
  @include transition();

  @include responsive(phablet) {
    font-size: 1em;
    backdrop-filter: blur(0.5em);
  }

  &:empty {
    display: none;
  }

  &.dismiss {
    transform: scale(0);
  }

  img {
    display: block;
    margin: 1em auto;
    box-shadow: 1em 1em 1em $black;
  }

  p {
    padding-bottom: 0.5em;
    opacity: 0.5;

    @include responsive(phablet) {
      opacity: 0.85em;
      text-align: center;
    }
  }

  nav {
    @include grid(space-between, center);

    @include responsive(phablet) {
      @include grid(center, center, column);
    }
  }

  a {
    display: block;
    margin: 0.5em;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    border: 1px solid $white;
    text-shadow: none;

    &:hover {
      background-color: $white;
      color: $black;
      box-shadow: 0 0 0.5em $white;
    }

    &.dismiss {
      font-size: 0.5em;
      border: none;

      @include responsive(phablet) {
        margin: 1em;
        font-size: 0.75em;
      }
    }
  }
}

.woocommerce-info,
.woocommerce-message {
  max-width: 1024px;
}

#bagoshit {
  display: block;
  position: fixed;
  z-index: 1000;
  width: 8rem;
  height: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
